@{
    ViewData["Title"] = "Software Engineering Intern";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Gopi Krishna
    <br />manchukonda.g@husky.neu.edu
    <br />857-753-9758</p>
